/*
 * column width: 320, width 280 + padding 20px = 300, vertical space is 20px
 */
.item { 
	width: 260px;
	height: 173px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	color:white;
}

.iLicense
{
	background: #2980b9;
}
.iAbout
{
	background: #7f8c8d;
}
.iContact
{
	background: #c0392b;
}
.iLinks
{
	background: #e67e22;
}
.iOffer
{
	background: #16a085;
}
.iSongs
{
	background: #8e44ad;
}

.iGallery
{
	background: #2c3e50;
}

.bigTileContent
{
	display:none;
}

#container{
	margin-left: auto;
	margin-right: auto;
}

.masonryWrapper{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
